@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

body {
    font-family: 'Muli', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 20px;
    /* padding: 70px; */
    margin:0 auto;
    text-align: center;
  
}


/* Start navbar
*
*
*
*
*/
nav {
    background-color: #333;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
nav li {
    float: left;
    width: 25%;
}
  
nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav a:hover {
    background-color: #800080; /* Purple */
    color: #fff;
}

/* End navbar
*
*
*
*
*/

.content {
    padding: 70px;
}

h1 {
  font-family: 'Kaushan Script', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12vw;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
}

#profile_pic {
    border-radius: 50%;
    width: 50%;
}

.falling_letters {
    display: grid;
    grid-template-columns: auto auto;
    /* gap: 1em; */
  font-family: 'Quicksand', sans-serif;


    /* width: 90vw; */
    /* border: 1px blue solid; */

}

.fl1 {
    /* display: grid; */
    /* width: 100%; */
    /* border: 1px black solid; */
    text-align: right;

    grid-template-rows: auto;
    font-size: 3vw;
}

.fl2 {
    display: grid;
    text-align: left;
    font-size: 3vw;

    /* border: 1px black solid; */
}


/* Start sub heading
*
*
*
*
*/

/* .falling_letters {
    margin: 0 auto;
    position: relative;
    display: flex;
  }
  
  .falling_letters div {
    font-size: 8vw;
    color: black;
    font-weight: bold;
    opacity: 0;
    animation: drop 0.4s linear forwards;
  }
  
  .falling_letters div:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .falling_letters div:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .falling_letters div:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  .falling_letters div:nth-child(5) {
    animation-delay: 0.4s;
  }
  
  .falling_letters div:nth-child(6) {
    animation-delay: 0.5s;
  }
  
  .falling_letters div:nth-child(7) {
    animation-delay: 0.6s;
  }
  

  
  @keyframes  drop {
    0% {
      transform: translateY(-200px) scaleY(0.9);
    }
    5% {
      opacity: 0.7;
    }
    50% {
      transform: translateY(0px) scaleY(1);
      opacity: 1;
    }
    65% {
      transform: translateY(-17px) scaleY(0.9);
    }
    75% {
      transform: translateY(-22px) scaleY(0.9);
    }
    100% {
      transform: translateY(0px) scaleY(1);
      opacity: 1;
    }
} */

/* End sub heading
*
*
*
*
*/

    @media screen and (max-width: 600px) {
        .falling_letters {
          /* font-size: 4vw; */
          grid-template-columns: 1fr;
          gap: 0;
          grid-template-rows: 1fr 1fr;
        }

        .fl1 {
            /* display: grid; */
            /* width: 100%; */
            /* border: 1px black solid; */
            text-align: center;
        
            grid-template-rows: auto;
        }
        
        .fl2 {
            display: grid;
            text-align: center;
            /* border: 1px black solid; */
        }

        nav li {
            width: 100%;
        }
      }