@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

/**
* For opening animation
*
*/

#bouncingBall {
  width: 50px;
  height: 50px;
  background-color: #fac5a3;
  border-radius: 50%;
  position: absolute;
}

.balls {
  width: 100px;
  height: 100px;
  background-color: #fac5a3;
  border-radius: 50%;
  position: absolute;
}

body {
  background-color: black;
}

#name {
  font-family: 'Kaushan Script', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15vw;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 98;
  opacity: 0.25;
}

#skipAnimation {
  z-index: 99;
  position: absolute;

}

/** 
* End opening animation
*/


body {
    font-family: 'Muli', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
    font-size: 20px;
    margin: 70px;
    margin:0 auto;
    text-align: center;
  background-color: #333;

  
}

#cv {
  display: none;
}

/* Start navbar
*
*
*
*
*/
nav {
    background-color: #333;
    /* position: fixed; */
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
nav li {
    float: left;
    width: 25%;
}
  
nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav a:hover {
    background-color: #fac5a3;
    color: #fff;
}

/* End navbar
*
*
*
*
*/

.content {
    padding: 25px;
    background-color: #fde7da;
    border-left: #333 5vw solid;
    border-right: #333 5vw solid;
    border-bottom: #333 5vw solid;
}

p {
  padding: 25px;
}

h1 {
  font-family: 'Kaushan Script', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12vw;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
}

.section_heading {
  background-color: #fac5a3;
  color: #fde7da;
  /* width: 100%; */
}

#profile_pic, .edu_image {
    border-radius: 50%;
    width: 50%;
    border: #fac5a3 solid 10px;
}


#edu_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#edu_items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

#skills_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  
}

.skills_image {
    width: 75%;
}

#contact_data {
  background-color: #333;
  border-radius: 50px;
  color: #fac5a3;
  margin: 10vw;

}

#contact_data >p{ 
  font-size: 32px;
}

input, textarea {
  border-radius: 25px;
  width: 75%;
  font-size: 100%;
}

#myBtn {
  display: none;
  position: fixed;
  /* bottom: 20px; */
  /* right: 30px; */
  z-index: 99;
  border: #333 1px solid;
  outline: none;
  background-color: #fac5a3;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

::placeholder {

  padding: 10px;

}

    @media screen and (max-width: 600px) {
        

        nav li {
            width: 100%;
        }

       .decrease_text {
        font-size: 12px;
       }

      #edu_container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      }

        #skills_container {
          display: grid;
          /* gap: 10%; */
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          justify-items: center;
          justify-content: center;
          align-items: center;

        }

        .skills_image {
          margin: 10%;
        }

                input,
                textarea {
                  border-radius: 25px;
                  width: 75%;
                  font-size: 75%;
                }


                

                

      }